* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Manrope', sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  @media (min-width: 576px) {
    .container {
      width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1140px;
    }
  }
  
  @media (min-width: 1400px) {
    .container {
      width: 1320px;
    }
  }
  
  .header
{
  padding: 20px 0px;
  background: #fff;
 
}



  
.form-section {

  background-image: url(https://www.novactech.com/_next/image?url=%2Fimages%2Ffintech%2Fmobile_banner1.png&w=640&q=100);
  background-size: cover;
  background-position: center;
  height: 780px;
}

.form-section .form-sec {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
}

.form-section .form-sec h3 {
  color: #fff;
  font-size: 50px;
  padding: 30px;
  font-weight: 400;
  line-height: 70px;
}

.form-section .form-sec .form-right {
  background-color: #ffffff12;
  margin: 50px 0px;
}

.form-section .form-sec .form-right p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  margin: auto;
  width: 70%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.form-section ::placeholder {
  color: #fff;
}

.form-section option {
  color: #000;
  background-color: #66594e;
}



.form-section .form-sec .fe-sec {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.form-section .form-sec .fe-sec .form-group .form-control {
  background-color: rgba(255, 255, 255, 0.23);
  border-color: rgba(255, 255, 255, 0.23);
  border-bottom: 1px solid #022057;
  color: #fff;
}

.form-section .form-sec .fe-sec .form-group .form-control {
  height: 48px !important;
  border-radius: 0;
  font-size: 14px;
  padding-left: 15px;
}

.form-section .form-sec .fe-sec .form-group .form-control {
  display: block;
  width: 100%;
  line-height: 1.5;

}

.form-section .form-sec .fe-sec .form-group .form-control:focus {
  border-color: #022057;
  outline: 0;
}

.form-section .form-sec .f-form .fe-sec {
  padding: 12px 45px;
}

.form-section .form-sec .fe-sec.cn {
  display: block;
  text-align: center;
}

.form-section .form-sec .form-left {
  display: grid;
  align-items: center;
}


.form-section .form-sec .form-group select.form-input {
  background-image: url(../img/icons/Expand_down_light.svg);
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 20px;
  -webkit-appearance: none;
  padding-right: 27px;
}


.form-section .form-sec .form-check-inline .ch-lbl {
  font-size: 13px;
  color: #fff;
}

.form-section .form-sec .t-button {
  
  text-align: center;
  margin-bottom: 30px;
}

.form-section .form-sec .btn {
  display: inline-block;
  padding: 14px 40px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 0px;
  text-decoration: none;
  width: 75%;
  margin: auto;
}

.form-section .btn-default {
  color: #000000;
  background-color: #FFFDD0;
  border: none;
}

.copy-right-sec {
  padding: 20px 0px;
  background: #00292b;
}

.copy-right-sec .copy-right {
  text-align: center;
}

.copy-right-sec .copy-right p {
  font-size: 14px;
  color: #fff;
}





@media(max-width: 767px) {

  header {
    background: #fff;
    padding: 20px 15px;
  }

  



  .form-section {
    background-image: url(https://www.novactech.com/_next/image?url=%2Fimages%2Ffintech%2Fmobile_banner1.png&w=640&q=100);
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 15px 0px;
  }

  .form-section .form-sec {
    display: block;
    text-align: center;

  }

  .form-section .form-sec h3 {
    color: #fff;
    font-size: 24px;
    padding: 15px;
    font-weight: 400;
    line-height: 50px;
  }

  .form-section .form-sec .form-right {
    background-color: #ffffff12;
    margin: 20px 0px;
  }

  .form-section .form-sec .form-right p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: auto;
    width: 85%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .form-section .form-sec .fe-sec {
    display: block;
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .form-section .form-sec .fe-sec .form-group {
    margin-bottom: 20px;
  }

  .form-section .form-sec .f-form .fe-sec {
    padding: 0px 20px;
  }

  .form-section .form-sec .btn {
    display: inline-block;
    padding: 14px 40px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;

    border-radius: 0px;
    text-decoration: none;
    width: 75%;
    margin: auto;
  }

  .form-section .form-sec .form-check-inline {
    padding-bottom: 0px;
  }

  .form-section .form-sec .t-button {
    text-align: center;
    margin-bottom: 30px;
    padding: 30px 0px;
  }
}



@media(min-width: 768px) {
  .talk-btn.mob {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section2 .section2-area .section2-left h2 {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    width: 50%;
    padding-bottom: 20px;
    line-height: 40px;
  }

  .section2 .section2-area .section2-left p {
    font-size: 16px;
    color: #fff;
    width: 50%;
    padding-bottom: 20px;
    line-height: 32px;
  }

  .section2 .section2-area .btn {
    display: inline-block;
    padding: 14px 40px;
    margin-bottom: 0;
    font-size: 16px;

    width: 30%;
    margin: auto;
  }





  .section3 .section3-area .section3-left img {
    width: 100%;
  }

  .section3 .section3-area .section3-right {
    padding: 0px 16px;
  }

  .section3 .section3-area .section3-right h2 {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 16px;
  }

  .section3 .section3-area .section3-right p {
    font-size: 16px;
    line-height: 28px;
    width: 100%;
  }


  .section4 {
    background: #00292b;
    padding: 50px 0 80px;
  }

  .section4 .section4-title h2 {
    font-size: 34px;
    color: #FFFDD0;
    font-weight: 500;
    padding-bottom: 20px;
  }

  .section4 .section4-title p {
    font-size: 16px;
    color: #ffffff;
    width: 80%;
    font-weight: 500;
    line-height: 28px;
  }

  .section4 .section4-area .section4-left {
    border-bottom: 0.5px solid #fff;
    margin-top: 30px;
  }

  .section4 .section4-area .section4-right {
    border-bottom: 0.5px solid #fff;
    margin-top: 30px;
  }

  .section4 .section4-area h4 {
    color: #F5ECEC;
    font-size: 24px;
    padding-bottom: 15px;
  }

  .section4 .section4-area p {
    color: #fff;
    font-size: 16px;
    width: 100%;
    line-height: 26px;
    padding-bottom: 30px;
  }


  .section5 {
    background: #EAECF0;
    padding: 50px 0 80px;
  }

  .section5 .section5-area .section5-left h2 {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 20px;
    color: #010224;
  }

  .section5 .section5-area {
    display: block;

  }

  .section5 .section5-area .section5-right {
    display: flex;
    margin-top: 50px;
  }

  .section5 .section5-area .section5-right .section5-sec {
    padding: 25px 25px;
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
    width: 220px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section5 .section5-area .section5-right .section5-cont p {
    font-size: 16px;
    padding-top: 20px;
    line-height: 24px;
  }






  .talk-btn h2 {
    font-size: 28px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    padding-bottom: 20px;
  }

  .talk-btn .btn {
    display: inline-block;
    padding: 14px 40px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;

    /* border: 1px solid transparent; */
    border-radius: 0px;
    text-decoration: none;
    width: 25%;
    margin: auto;
  }


  .section6 {
    background: #fff;
    padding: 50px 0;
  }

  .section6 .section6-area .section6-left p {
    font-size: 16px;
    line-height: 32px;
    padding-bottom: 10px;
    font-family: 600;
    width: 90%;
  }

  .section6 .section6-area .section6-right img {
    width: 100%;
  }

  .section6 .section6-area .section6-left p.txt {
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 30px;
  }



  .form-section .form-sec h3 {
    color: #fff;
    font-size: 32px;
    padding: 16px;
    font-weight: 400;
    line-height: 50px;
  }

  .form-section .form-sec .form-right p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: auto;
    width: 70%;
    text-align: center;
    padding-top: 20px;
  }

  .form-section .form-sec .f-form .fe-sec {
    padding: 12px 16px;
  }
}




@media (min-width: 1024px) and (max-width: 1200px) {

  .section2 .section2-area .section2-left h2 {
    font-size: 32px;
    color: #fff;
    font-weight: 500;
    width: 50%;
    padding-bottom: 10px;
    line-height: 50px;
  }

  .section2 .section2-area .btn {
    display: inline-block;
    padding: 14px 40px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border-radius: 0px;
    text-decoration: none;
    width: 25%;
    margin: auto;
  }

  .section3 {
    background: #fff;
    padding: 50px 0;
  }

  .section3 .section3-area .section3-left img {
    width: 90%;
  }

  .section3 .section3-area .section3-right {
    padding: 0px 16px;
  }

  .section3 .section3-area .section3-right h2 {
    font-size: 32px;
    line-height: 44px;
    padding-bottom: 10px;
  }

  .section3 .section3-area .section3-right p {
    font-size: 18px;
    line-height: 30px;
    width: 100%;
  }


  .section4 {
    background: #0A0501;
    padding: 50px 0 80px;
  }




  .section5 .section5-area {
    display: block;

  }

  .section5 .section5-area .section5-right {
    display: flex;
    margin-top: 50px;
    justify-content: center;
  }

  .section5 {
    background: #EAECF0;
    padding: 50px 0 80px;
  }



  .section6 {
    background: #fff;
    padding: 50px 0;
  }

  .section6 .section6-area .section6-right img {
    width: 100%;
  }



  .form-section .form-sec h3 {
    color: #fff;
    font-size: 32px;
    padding: 15px;
    font-weight: 400;
    line-height: 44px;
  }

  .form-section .form-sec .f-form .fe-sec {
    padding: 12px 20px;
  }
}


@media (min-width: 1200px) and (max-width: 1400px) {


  .section2 .section2-area .btn {
    display: inline-block;
    padding: 14px 40px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border-radius: 0px;
    text-decoration: none;
    width: 20%;
    margin: auto;
  }

  .section3 .section3-area .section3-left img {
    width: 90%;
  }

  .section3 .section3-area .section3-right {
    padding: 0px 16px;
  }




  .section5 .section5-area {
    display: block;
  }

  .section5 .section5-area .section5-right {
    display: flex;
    margin-top: 50px;
    justify-content: center;
  }

}
  